{% extends "base.html" %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'territories/details.css' %}">
{% endblock %}

{% block content %}
  {% with parent=territory.parent %}
    <a class="fs-5 d-flex text-decoration-none"
       href="{% if parent %}{% url 'territory' parent.code %}{% else %}{% url 'territories' %}{% endif %}">
      <i class="bi bi-arrow-left d-flex align-items-center back-icon"></i>
      <span class="ms-2">{% if parent %}{{ parent.name }}{% else %}Україна{% endif %}</span>
    </a>
  {% endwith %}
  <h2 class="mt-4 fw-bold">{{ territory.name }}</h2>
  <dl class="definition mt-3">
    <dt>Назва:</dt>
    <dd>{{ territory.name }}</dd>
    <dt>Тип:</dt>
    <dd>{{ territory.get_category_display }}</dd>
    <dt>Код:</dt>
    <dd>{{ territory.code }}</dd>
    <dt>Код типу:</dt>
    <dd>{{ territory.category }}</dd>
    <dt>Ріень:</dt>
    <dd>{{ territory.level }}</dd>
  </dl>
  {% if children %}
    <h5 class="mt-5">Територальні одиниці:</h5>
    <div>
      <div class="list-group list-group-root well">
        {% for children in children %}
          <a class="list-group-item" href="{% url 'territory' children.code %}">{{ children.name }}</a>
        {% endfor %}
      </div>
    </div>
  {% endif %}


  </div>

{% endblock %}
